<?xml version="1.0" encoding="UTF-8"?>
<!-- spring配置文件beans根元素 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"	
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.2.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	  <!-- 扫描控制器包,生成控制器Bean -->
	  <context:component-scan base-package="cn.nsw.controller" />
	  <!-- 一键式配置 HandlerMapping -->
      <mvc:annotation-driven />   
      
      <!-- 配置视图解析器 -->
     <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
      		<property name="prefix" value="/WEB-INF/jsp/"/>
      		<property name="suffix" value=".jsp"/>
      		<!-- <property name="prefix" value="/" />
        	<property name="suffix" value=".jsp" /> -->
      </bean>
         
      <!-- 静态资源
      	   location = "本地静态资源,不需要 * 匹配"
      	   mapping = "将本地静态资源映射出可访问的地址"	 
       -->   
      <mvc:resources location="/css/" mapping="/css/**" />
      <mvc:resources location="/images/" mapping="/images/**" />
      <mvc:resources location="/js/" mapping="/js/**" />     
      <mvc:resources location="/calendar/" mapping="/calendar/**" /> 
      
      <!-- 全局异常处理 -->
      <!-- <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
      		<property name="exceptionMappings">
      			<props>
      				<prop key="java.lang.Exception">redirect:/login.jsp</prop>
      			</props>
      		</property>
      </bean> -->
       
</beans>